<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.tivion" platformBuildVersionCode="27" platformBuildVersionName="8.1.0">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:theme="@style/AppTheme" android:label="Tivion" android:icon="@drawable/app_icon" android:name=".SketchApplication" android:allowBackup="true" android:largeHeap="true">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RctiActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize"/>
        <activity android:name=".SctvActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".AntvActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".InewsActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".RtvActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".Trans7Activity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".TranstvActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".GlobalActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".TvoneActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".MncActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".LebihActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize"/>
        <activity android:name=".DebugActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
